.about_us_wrapper {
    /* display: flex;
    gap: 30px; */

}

.left_about_us {
    position: relative;
    float: left;
    margin-right: 30px;
}

.left_about_us img {
    display: block;
}

.dark_background_about {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: var(--main_border-radius);
    color: #fff;
    width: 100%;
}

.dark_background_about p {
    font-size: 16px;
    font-weight: 700;
    max-width: 336px;
    line-height: 32px;
}

.dark_background_about a {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 16px 35.5px;
    border: 3px solid var(--orange);
    border-radius: var(--main_border-radius);
}