/* .stages_of_work nav {
   
    
    width: 400px;
} */

.stages_of_work  ul {
    display: flex;
    gap: 44px;
    margin-bottom: 20px;
    margin-left: 0;
}

.stages_of_work_wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.stages_of_work p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 54px;
}

.stages_of_work a {
    font-size: 16px;
    font-weight: bold;
    padding: 38px 20px;
}